body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #222222;
    font-weight: 400;
    color: white;
}

#app-header {
    background-color: #375A7F;
    border: #2B3B4B 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 14pt;
    font-weight: 400;
    color: white;
    margin: 5px;
}

#app-header .user-area {
    float: right;
    font-size: 11pt;
    font-weight: 400;
    margin: 5px 5px 0 0;
}

#app-header .user-area span {
    margin-right: 15px;
}

#app-footer {
    clear: both;
    background-color: #375A7F;
    border: #2B3B4B 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    font-weight: 400;
    color: white;
    margin: 5px;
}

ul.pagination {
    display: table;
    margin: 15px auto;
}

ul.ads {
    padding: 0;
}

ul.ads li {
    list-style-type: none;
}

.box {
    font-weight: 400;
    color: white;
    width: 100%;
    display: block;
    background-color: #375A7F;
    border: #2B3B4B 1px solid;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
}

.box h1 {
    margin: 0 0 10px 0;
    font-size: 14pt;
    font-weight: 400;
    color: #ffffff;
}

.box h2 {
    margin: 0 0 10px 0;
    font-size: 12pt;
    font-weight: 400;
    color: #ffffff;
}

ul.sidebar-menu {
    padding: 0px 5px;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    color: #ffffff;
}

ul.sidebar-menu li:hover {
    background: #374C6E;
    border-radius: 3px;
}

ul.sidebar-menu li.special {
    font-style: italic;
}

ul.sidebar-menu li.selected {
    background: #374C6E;
    border-radius: 3px;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    outline: none;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.button, .button:focus {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background: #374C6E;
    border: 1px solid #374C57;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
}

.button:hover {
    background: #374C6E;
    border: 1px solid #374C57;
    text-decoration: none;
    color: #378658;
    cursor: pointer;
}

.link {
    color: #ffffff;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted grey;
    cursor: pointer;
}

.link:hover {
    color: #378658;
    text-decoration: none;
    border-bottom: 1px dotted #378658;
}

.no-data {
    font-size: 18px;
}

.image-box {
    color: #378658;
    width: 150px;
    height: 150px;
    line-height: 80px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.image-box:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.image-box img, .image-box p {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ad-image {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

.img-center {
    color: #378658;
    background-color: #374C6E;
    border-radius: 3px;
    text-align: center;
    line-height: 95px;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.text-field {
    background-color: #374C6E;
    border-radius: 3px;
    padding:10px;
    margin-bottom: 15px;
}

label {
    font-weight: 400;
}

input {
    width: 250px;
    background-color:#337AB7;
    border: #374C57 1px solid;
    margin-bottom: 10px;
    padding-left: 5px;
}

select {
    height: 25px;
    width: 250px;
    background-color:#337AB7;
    border: #374C57 1px solid;
    margin-bottom: 10px;
    padding-left: 5px;
}

textarea {
    min-width: 250px;
    min-height: 100px;
    background-color:#337AB7;
    border: #374C57 1px solid;
    margin-bottom: 10px;
    padding-left: 5px;
}

#image {
    width: 240px;
}

.status {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background: #374C6E;
    border: 1px solid #374C57;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    outline: none;
}

.edButton {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

