<ul class="ads">
    <li class="box">
        <h1 class="pull-left"><strong>Confirm Deleting Ad?</strong></h1><br>
        <h1 class="pull-left">{{ad.title}}</h1>
        <div class="pull-right">Date:{{ad.date | date:'dd-MMM-yyyy'}}</div><br><br>
        <div class="row">
            <div ng-if='ad.imageDataUrl' class="col-md-3">
                <div class="img-center">
                    <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
                </div>
            </div>
            <div ng-if='!ad.imageDataUrl' class="col-md-3">
                <div class="img-center">
                    <span>no image</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="text-field">{{ad.text}}</div>
                <div class="text-field">Category: {{ad.categoryName}}<br>
                    Town: {{ad.townName}}
                </div>

                <div class="edButton">
                    <a href="#/user/ads/delete/{{ad.id}}" ng-click="deleteAdButtonClicked(ad.id)"
                       class="button">Delete</a>
                    <a href="#/ads" class="button">Cancel</a>
                </div>

            </div>
        </div>
    </li>
</ul>

