<div class="row">
    <div class="col-md-6">
        <div class="box">
            <h2>Edit Profile</h2>
            <label for="ownerName">Name</label><br>
            <input type="text" id="ownerName" ng-value="userData.name" ng-model="userData.name" required /><br>

            <label for="ownerEmail">Email</label><br>
            <input type="text" id="ownerEmail" ng-value="userData.email" ng-model="userData.email" required /><br>


            <label for="ownerPhone">Phone</label><br>
            <input type="text" id="ownerPhone" ng-value="userData.phoneNumber" ng-model="userData.phoneNumber" required /><br>

            <label for="town">Town</label><br>
            <select id="town" ng-model="userData.townId" ng-selected="userData.townId">
                <option value="null">(None)</option>
                <option ng-repeat="town in towns"
                        value="{{town.id}}">{{town.name}}</option>
            </select><br>

            <p>
                <a ng-click="editProfile(userData)" class="button">Update</a>
                <a href="#/" class="button">Cancel</a>
            </p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box">
            <h2>Change Password</h2>
            <label for="oldPassword">Old Password</label><br>
            <input type="password" id="oldPassword" ng-model="userData.oldPassword" required /><br>

            <label for="password">New Password</label><br>
            <input type="password" id="password" ng-model="userData.newPassword" required /><br>

            <label for="confirmPassword">Confirm password</label><br>
            <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required />

            <p>
                <a ng-click="changePassword(userData)" class="button">Change Password</a>
                <a href="#/user/ads" class="button">Cancel</a>
            </p>
        </div>
    </div>
</div>

