<div class="box">
    <h2>Publish New Ad</h2>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-2">
                    <label for="title">Title</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="title" ng-model="adData.title" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="text">Text</label>
                </div>
                <div class="col-md-10">
                    <textarea  type="text" id="text" ng-model="adData.text" required></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="category">Category</label>
                </div>
                <div class="col-md-10">
                    <select id="category" ng-model="adData.categoryId">
                        <option value="null">(None)</option>
                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="town">Town</label>
                </div>
                <div class="col-md-10">
                    <select id="town" ng-model="adData.townId">
                        <option value="null">(None)</option>
                        <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <p>
                <input type="file" id="image"
                       onchange="angular.element(this).scope().fileSelected(this)" />
                <div class="image-box">
                    <span>Image Preview</span>
                </div>
            </p>
        </div>

    </div>
    <p>
        <a ng-click="publishAd(adData)" class="button">Publish</a>
        <a href="#/user/ads" class="button">Cancel</a>
    <p>

</div>
