<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box">
        <h1 class="pull-left">{{ad.title}}</h1>
        <div class="pull-right">Date:{{ad.date | date:'dd-MMM-yyyy'}}</div><br><br>
        <div class="row">
            <div ng-if='ad.imageDataUrl' class="col-md-3">
                <div class="center">
                    <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
                </div>
            </div>
            <div class="col-md-9">
                <div>Text: {{ad.text}}</div><br>
                <div>Name: {{ad.ownerName}}</div>
                <div>Email: {{ad.ownerEmail}}</div>
                <div>Phone: {{ad.ownerPhone}}</div>
            </div>
        </div>
    </li>
</ul>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>
